name: Configurable Armbian Builder

on:
  workflow_dispatch:
    inputs:

      board:
        description: "Target board"
        required: true
        default: "orangepizero3"

      release:
        description: "Base OS release"
        required: true
        type: choice
        options:
          - bookworm
          - jammy
          - noble
        default: bookworm

      branch:
        description: "Kernel branch"
        type: choice
        options:
          - current
          - edge
          - legacy
        default: current

      ui:
        description: "UI type"
        type: choice
        options:
          - minimal
          - server
          - xfce
        default: server

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Armbian
        uses: armbian/build@main
        with:
          armbian_token: ${{ secrets.GITHUB_TOKEN }}

          armbian_board: ${{ github.event.inputs.board }}
          armbian_release: ${{ github.event.inputs.release }}
          armbian_kernel_branch: ${{ github.event.inputs.branch }}
          armbian_ui: ${{ github.event.inputs.ui }}
          armbian_target: build
